@{
    ViewData["Title"] = "Главная страница";
}

<main class="container">
    <h1>@ViewData["Text"]</h1>
    <h3>Список</h3>

    <ol type="A">
        @for (int i = 1; i < 5; i++)
        {
            <li>Элемент @i списка</li>
        }
    </ol>

    <hr class="solid">

    <h3>Форма</h3>

    <form method="post" action="#">
        <div class="row mb-3">
            <div class="col-sm-10 offset-sm-2">
                <div class="form-check">
                    <input class="form-check-input" name="check1" id="check1" type="checkbox">Чек-бокс
                    1
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="check2" id="check2" type="checkbox" checked>Чек-бокс 2
                </div>
            </div>
        </div>
        <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0"></legend>
            <div class="col-sm-10">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                    <label class="form-check-label" for="gridRadios1">
                        Радио - 1
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2"
                        checked>
                    <label class="form-check-label" for="gridRadios2">
                        Радио - 2
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                    <label class="form-check-label" for="gridRadios3">
                        Радио - 3
                    </label>
                </div>
            </div>
        </fieldset>
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Логин</label>
            <div class="col-sm-10">
                <input type="text" value="Соколовский Вадим гр. 10333" class="form-control" name="name" id="inputEmail"
                    placeholder="Введите логин">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Пароль</label>
            <div class="col-sm-10">
                <input type="password" name="password" value="10333" class="form-control" id="inputPassword"
                    placeholder="Введите пароль">
                <br>
                <select asp-items="@ViewData["SelectList"] as SelectList"></select>
            </div>
        </div>


        <button type=" submit" class="btn btn-info text-white">Отправить</button>
    </form>
</main>
