header, footer{
  background-color: #343a40;
}

.nav-color{
  color: rgba(255, 255, 255, 0.5);
}

a, a:hover{
  color:#343a40;
}

body{
  overflow: scroll;
  padding-bottom: 50px;
}

footer{
  transform: translate(0px, 50px);
  transition: 0.3s;
}

footer:hover{
  transform: translate(0px, 0px);
}
